@{
    var lang = (Lang)ViewBag.lang;
    ViewBag.Title = lang["Главная"];
}

<script>
    $(document).ready(function () {
        if (window.TonConnectManager && typeof window.TonConnectManager.init === 'function') {
            window.TonConnectManager.init();
        }
    });

    function go() {
        var address = $('#address').val();
        if (address == '') er('Необходимо ввести адрес');
        else location.href = '../../' + address;
    }

    async function home() {
        if (!window.TonConnectManager) {
            er('TonConnect недоступен. Обновите страницу.');
            return;
        }

        var session = randomString(20);
        Cookies.set('session', session, { path: '/' });

        try {
            var wallet = await TonConnectManager.ensureConnected();
            if (!wallet || !wallet.account || !wallet.account.address) {
                throw new Error('Не удалось получить адрес кошелька');
            }

            var result = await TonConnectManager.registerSession({
                session: session,
                address: wallet.account.address,
                url: '@Url.Action("Connect", "Room")'
            });

            if (result && result.redirect) {
                location.href = result.redirect;
            } else {
                location.href = '../../room/index/' + wallet.account.address;
            }
        } catch (error) {
            if (window.TonConnectSDK && error instanceof window.TonConnectSDK.UserRejectsError) {
                er('Подключение отменено в кошельке');
            } else if (error && error.message) {
                er(error.message);
            } else {
                er('Не удалось подключить кошелек');
            }
        }
    }

    function randomString(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() *
                charactersLength));
        }
        return result;
    }
</script>

<div class="wallet-auth">
    <span class="wallet-auth__badge" data-tonconnect-network></span>
    <div class="wallet-auth__connected" data-tonconnect-connected style="display: none;">
        <span class="wallet-auth__address" data-tonconnect-address></span>
        <button type="button" class="wallet-auth__disconnect" data-tonconnect-disconnect>Отключить</button>
    </div>
    <button type="button" class="btn btn-green wallet-auth__connect" data-tonconnect-connect>Подключить кошелек</button>
</div>

<div class="main-input">
    <div class="flex1">
        <input id="address" type="text" placeholder="TON address" style="background: #0000002e; color: #fff" /><br /><br />
        <button class="btn btn-green default" onclick="go()">Вперед</button>
        <button class="btn btn-green" onclick="home()" style="margin-left: 20px">Домой</button>
    </div>
</div>
